<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Glowing Inputs Login Form UI</title>
      <link rel="stylesheet" href="/public/css/styles.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body class="authBody">
      <div class="login-form">
         <div class="text">
            LOGIN
         </div>
         <form class="authForm" action="/login"  method="POST">
          <div class="field">
             <div class="fas fa-envelope"></div>
             <input type="text" placeholder="Email" name="email" id="email" required>
          </div>
          <div class="field">
             <div class="fas fa-lock"></div>
             <input type="password" placeholder="Password" name="password" id="password" required>
          </div>
          <button class="authButton" type="submit">LOGIN</button>
      
       </form>
      </div>
</body>
</html>